<template>
  <div class="home">!!!</div>
</template>

<script>
export default {
  computed: {
    testStore () {
      return this.$store.state.test
    }
  },

  mounted () {
    this.$store.dispatch('TEST_ACTION', '!!!')
  }
}
</script>
